body {
  font-size: 14px;
}

.layout-page {
  position: relative;
}

.half-container {
  background-color: pink;
  position: absolute;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  padding-top: 50px;
  z-index: -1;
  box-sizing: border-box;
}

.action-part {
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(41, 173, 61);
  opacity: 0.8;
}